<div id="<%= dom_id receipt %>">
  <p>
    <strong>Amount paid:</strong>
    <%= receipt.amount_paid %>
  </p>

  <p>
    <strong>Date range:</strong>
    <%= receipt.date_range %>
  </p>

  <p>
    <strong>Tenant name:</strong>
    <%= receipt.tenant_name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= receipt.user_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= receipt.payment_id %>
  </p>

</div>
